html,
body {
  background-color: white;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

:root {
  --flashpoint-red: #DD042B;
  --flashpoint-cream: #FFE0E4;
  --flashpoint-red-hover: #E85971;
  --flashpoint-red-deactive: #e9425e;
  --layout__background-faded: #1b1b1cb8;
}

.main {
  min-height: 100vh;
  margin-top: 3rem;
  padding: 1.5rem 1.5rem;
  flex: 1;
  display: flex;
  flex-direction: column;
}

.header {
  font-size: 1.25em;
  width: 100%;
  height: 3rem;
  border-bottom: 1px solid grey;
  display: flex;
  color: white;
  background-color: var(--flashpoint-red);
  position: fixed;
  top: 0;
  z-index: 999;
}

.headerLeft {
  display: flex;
  font-weight: bold;
  margin: auto;
  margin-left: 1.5rem;
  vertical-align: middle;
  flex-shrink: 0;
}

.headerLeft > :not(:first-child) {
  margin-left: 1rem;
}

.headerRight {
  margin: auto;
  margin-right: 1.5rem;
  flex-grow: 1;
  text-align: right;
  vertical-align: middle;
}

.simpleButton {
  border: 1px solid darkred;
  border-radius: 5px;
  color: white;
  background-color: var(--flashpoint-red-deactive);
  box-shadow: 0px 2px 2px #777;
}

.simpleButton:hover {
  background-color: var(--flashpoint-red-hover);
}

.simpleButton:active {
  background-color: var(--flashpoint-red);
  transform:translateY(2px);
  box-shadow: 0px 0px 0px;
}

.loginButton {
  font-weight: bold;
  font-size: 2rem;
}

.formTable {
  border-spacing: 5px;
}

.formTable > tbody > tr > td:first-child {
  font-weight: bold;
  margin-right: 0.1rem;
}

table {
  border: 1px solid lightgray;
}

tbody {
  border-bottom: 1px solid lightgray;
}

th {
  border-bottom: 1px solid lightgray;
  border-right: 1px solid lightgray;
  padding: 2px 4px;
}

/** Floating Containers */
.floating-container__wrapper {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  background-color: var(--layout__background-faded);
}

.floating-container {
  text-align: center;
  padding: 1rem;
  border: 1px solid;
  overflow: auto;
  max-height: 90%;
  max-width: 90%;
  background-color: var(--flashpoint-cream);
  border-color: #292929;
}